.navbar{ 
    background-color: #2E3440;
    cursor: pointer;
    padding: 20px !important;
}
.titulo{
    display: flex;
    align-items: center; 
}
body{
    background-color: #4C566A !important;
}
.login{
    background-color: #3B4353;
}
.boton{
    background-color: #5E81AC !important;
 
}
.boton:hover{
    background-color: #3a5980 !important;
}