.navbar{ 
    background-color: #2E3440; 
    padding: 20px !important;
}
.titulo{
    display: flex;
    align-items: center; 
}
body{
    margin: 0 !important;
    background-color: #4C566A !important; 
    position: relative;
    padding-bottom: 3.5em;
    min-height: 100vh !important;
}
.login{
    background-color: #3B4353;
}
.boton{
    background-color: #5E81AC !important;
}
.boton-regresar{
    background-color: #4C566A !important;
}
.boton:hover{
    background-color: #3a5980 !important;
}  
.nav{
    padding: 12px !important; 
} 
.margen{
    margin-top: 5.4rem;
    margin-bottom: 8rem;
}
.footer{ 
    position: absolute !important;
    background-color: #2E3440 !important;
    bottom: 0 !important; 
    width: 100% !important;
    margin-top: 3.5rem !important;  
} 
.card-texto{
    font-size: 22px !important; 
}
.card-titulo{
    font-size: 24px !important;
}
.header-card{
    background-color: #ECEFF4 !important;
}
.body-card{
    background-color: #4C566A !important;
} 
.error h1{
    vertical-align: middle;
} 
.form-error{
    background-color: red !important;
    border-color: red !important;
}
.bloque{
    background-color: #2E3440!important;
} 
.literal{
    font-size: 22px !important;
    color: #ECEFF4 !important; 
} 